<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
<meta charset="ISO-8859-1">
<title>Lista de estudiantes</title>
<link href="css/estilo_l6.css" rel="stylesheet">
</head>
<body>
	<div class="contenedor-tabla" align="center">
		<h1>Lista de estudiantes</h1>
		<br/>
		<form th:action="@{/mostrarDTO}" method="post">
			<label>Mostrar DTO </label> 
			<input class="boton-home" type="submit" value="DTO" >
		</form><br>
	
		<div class="contenedor-botones">
				<form th:action="@{/filtrar}" method="post" >
					<input class="campo-filtrar" type="text" placeholder="Nombre" name="nombre" >
					<input class="boton-filtrar" type="submit" value="buscar" >
			    </form><br>
			    <a th:href="@{/listado}">
					<input class="boton-inicio" type="submit" value="home" >
		        </a>
		        <a th:href="@{/inicio}">
					<input class="boton-agregar" type="submit"  value="agregar" >
				</a>
				<form th:action="@{/Estudiante}" method="post">
					<input class="campo-codigo" type="number" placeholder="C&oacute;digo" name="c">
					<input class="boton-eliminar" type="submit"  name="action" value="eliminar">
					<input class="boton-editar" type="submit" name="action" value="editar">
				</form>
		</div>
		<table class="tabla" border="1">
			<thead>
				<tr>
					<th>C&oacute;digo</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Carnet</th>
					<th>Carrera</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="estudiante, row:${estudiantes}">
					<td th:text="${estudiante.codigo}">Nombre</td>
					<td th:text="${estudiante.nombre}">Nombre</td>
					<td th:text="${estudiante.apellido}">Apellido</td>
					<td th:text="${estudiante.carne}">Carnet</td>
					<td th:text="${estudiante.carrera}">Carrera</td>
				</tr>
			</tbody>
		</table>
		<br>
	</div>	

</body>
</html>