@charset "ISO-8859-1";

* {
	font-family: Helvetica, Verdana, sans-serif;
}

body {
	text-align: center;
	font-family: Helvetica, Verdana, sans-serif;
	margin: 70px;
}

.contenedor {
	background-color: #F6F6F6; margin : 0 auto;
	padding: 25px 50px 50px 50px;
	text-align: left;
	width: 25%;
	font: 14px/30px Helvetica, Verdana, sans-serif;
	border-radius: 5px;
	box-shadow: 6px 6px 6px #E2E2E2;
	margin: 0 auto;
}

.titulo-form {
	text-align: center;
}

.contenedor label {
	display: block
}

.contenedor input {
	padding: 10px;
	width: 95%;
	border-radius: 5px;
	border: 1px solid #c1c1c1
}
.contenedor-boton-agregar{
	display: flex;
	justify-content:center;
}
.contenedor .boton {
	margin-top: 20px;
	padding: 10px;
	background-color: #00AEEF;
	color: white;
	border: 0;
	text-align: center;
	width: 200px;
	cursor: pointer;
}

.contenedor input.boton:hover {
	background-color: #008BD3;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

.contenedor-resultado {
	margin: auto;
}

p {
	font: 18px/30px Helvetica, Verdana, sans-serif;
}

.contenedor-resultado a {
	text-decoration: none;
}

.boton-nuevo {
	margin: auto;
	padding: 10px;
	background-color: #000000;
	color: white;
	border: 0;
	border-radius: 5px;
	width: 200px;
	cursor: pointer;
}

.boton-nuevo:hover {
	background-color: #313435;
}

.contenedor-robot {
	font-family: Helvetica, Verdana, sans-serif;
	font-size: 14px;
	margin: auto;
	padding: 40px;
	background-color: #F6F6F6;
	text-align: center;
	width: 30%;
	font: 14px Helvetica, Verdana, sans-serif;
	box-shadow: 6px 6px 6px #E2E2E2;
}

.contenedor-radio {
	text-align: center;
	width: 100%;
}

.boton-regresar:hover {
	background-color: #008BD3;
}

.contenedor .boton-regresar {
	margin-top: 10px;
	padding: 10px;
	background-color: #000000;
	color: white;
	border: 0;
	cursor: pointer;
	width: 200px;
	text-align: center;
	border-radius: 5px;
}

.contenedor a{
	display: flex;
	justify-content:center;
}


.contenedor .boton-regresar:hover {
	background-color: #313435;
}

.boton-nuevo:hover {
	background-color: #00A0DC;
}

.boton-nuevo {
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #00aeef;
	color: white;
	border: 0;
	cursor: pointer;
	width: 15%;
	border-radius: 5px;
}

#robot {
	margin-left: 20px;
	font-size: 30px;
	color: #5B5B5B;
}

.error {
	color: #E81505;
}

.contenedor-botones{
	display:flex;
	justify-content: center;
	margin-bottom: 10px;
}
.contenedor-botones form{
	display: flex;
	border-radius: 5px;
	text-align:center;
}

.contenedor-botones form input.boton-eliminar{
	display: flex;
	padding: 10px;
	width: 70px;
	color:#FFFFFF;
	background-color: #D00C00;
	border:0;
	cursor: pointer;
}
.contenedor-botones form input.boton-eliminar:hover{
	background-color: #AD0A00;

	}
.contenedor-botones form input.boton-editar{
	display: flex;
	padding-left:17px;
	width: 70px;
	color:#FFFFFF;
	background-color: #EEC600;
	border-radius: 0 5px 5px 0;
	border:0;
	cursor: pointer;
}
.contenedor-botones form input.boton-editar:hover{
	background-color: #D9B500;

	}

.contenedor-botones form input.campo-codigo{
	display: flex;
	padding: 8px;
	text-align:center;
	width: 50px;
	border-radius: 5px 0 0 5px;
	border: 1px solid #DEDEDE
}

.contenedor-botones form input.boton-filtrar{
	display: flex;
	padding: 10px;
	color:#FFFFFF;
	background-color: #000000;
	border-radius: 0 5px 5px 0;
	margin-right: 20px;
	border:0;
	cursor: pointer;
	
}
.contenedor-botones form input.boton-filtrar:hover{
	background-color: #404040;

	}
	


.contenedor-botones form input.campo-filtrar{
	display: flex;
	padding: 8px;
	text-align:center;
	border-radius: 5px 0 0 5px;
	border: 1px solid #DEDEDE
}

.contenedor-botones input.boton-inicio{
	display: flex;
	padding: 10px;
	color:#FFFFFF;
	background-color: #00aeef;
	border-radius: 5px 0 0 5px;
	border:0;
	cursor: pointer;
}
.contenedor-botones input.boton-inicio:hover{
	background-color: #00A0DC;

	}

.contenedor-botones input.boton-agregar{
	display: flex;
	padding: 10px;
	margin-right: 20px;
	color:#FFFFFF;
	background-color: #5EDF01;
	border-radius: 0 5px 5px 0;
	border:0;
	cursor: pointer;
}
.contenedor-botones input.boton-agregar:hover{
	background-color: #4FBD00;

	}

.contenedor-tabla h1 {
	font-size: 22px;
	margin: 0;
}



.tabla {
	margin: auto;
	min-width: 300px;
	max-width: 100%;
	border-collapse: collapse;
	box-shadow: 6px 6px 6px #E2E2E2;
}

.tabla th {
	border-top: none;
	border-color: #252525;
	background: #000000;
	text-align: center;
	color: #FFFFFF;
}

.tabla tr {
	border: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #F6F6F6;
}

.tabla tbody tr:nth-child(odd) {
	background-color: #F1F1F1;
}

.tabla th {
	display: none;
	text-align: center;
}

.tabla td {
	display: block;
}

.tabla td:first-child {
	margin-top: .5em;
	text-align: center;
}

.tabla td:last-child {
	margin-bottom: .5em;
}

.tabla td:before {
	content: attr(data-th) ": ";
	font-weight: bold;
	width: 120px;
	display: inline-block;
	color: #000000;
}

.tabla td {
	text-align: center;
}

.tabla {
	color: #333;
	border-radius: .4em;
	overflow: hidden;
}

.tabla tr {
	border-color: #E0E0E0;
}

.tabla th, .tabla td {
	padding: .5em 1em;
}

@media screen and (max-width: 601px) {
	.tabla tr:nth-child(2) {
		border-top: none;
	}
}

@media screen and (min-width: 600px) {
	.tabla tbody tr:hover {
		background-color: #DBDBDB;
		cursor: pointer;
	}
	.tabla td:before {
		display: none;
	}
	.tabla th, .tabla td {
		display: table-cell;
		padding-left: 2em;
		padding-right: 2em;
	}
	.tabla th:first-child, .tabla td:first-child {
		padding-left: 2em;
		text-align: center;
	}
	.tabla th:last-child, .tabla td:last-child {
		padding-right: 2em;
	}
	.contenedor-tabla {
		display: block;
		text-align: center;
	}
}

.boton-home{
	padding: 7px 10px 7px 10px;
	background-color: #000000;
	color: #FFFFFF;
	text-decoration: none;
	border-radius: 5px;
	border:0;
	cursor: pointer;
}

.boton-home:hover{
	background-color: #404040;
}

a{text-decoration:none;}